
h4 {
    font-family: 'Archivo', sans-serif;;
    color: #9400D3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #9400D3;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}